{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="container">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary">Via Facebook</button>
      <button type="button" class="btn btn-outline-warning">Via email</button>
      <button type="button" class="btn btn-dark">On vous rappelle</button>
    </div>
    <div class="rappel">
      <input type="text" name="nom" placeholder="Nom">
      <input type="text" name="prenom" placeholder="Prénom">
      <input type="number" name="telephone" placeholder="Téléphone">
      <textarea name="demande" rows="8" cols="80" placeholder="Votre demande"></textarea>
      <button type="button" class="btn btn-danger">Me rappeler</button>
    </div>
    <div class="contact">
      <select class="type-evenement" name="type-evenement">
        <option value="Type d'évènement"></option>
        <option value="Mixologie"></option>
        <option value="EVG / EVJF"></option>
        <option value="Team building"></option>
      </select>
      <select class="nombre-personne" name="nombre-personne">
        <option value="Nombre de personnes"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5 et plus"></option>
        <option value="10 et plus"></option>
        <option value="20 et plus"></option>
      </select>
      <input id="datepicker" type="text" class="far fa-calendar-alt">
      <input type="text" name="nom" placeholder="Nom">
      <input type="text" name="prenom" placeholder="Prénom">
      <input type="email" name="email" placeholder="Adresse mail">
      <input type="number" name="telephone" placeholder="Téléphone">
      <textarea name="demande" rows="8" cols="80" placeholder="Votre demande"></textarea>
      <button type="button" class="btn btn-danger">Réserver</button>
    </div>
    <div class="coordonnes">
      <div class="telephone">
        <div class="icon-tel"></div>
        <a href="0647370559">06 47 37 05 59</a>
      </div>
      <div class="adress">
        <div class="icon-adress"></div>
        <p>64bis Rue Lucien Faure,<br>33000 Bordeaux</p>
      </div>
      <div class="map"></div>
    </div>
  </div>
</div>
{% endblock %}
