{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/lecarrelet/src/Controller/FormController.php'|file_link(0) }}">src/Controller/FormController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/lecarrelet/templates/form/index.html.twig'|file_link(0) }}">templates/form/index.html.twig</a></code></li>
    </ul>

    <button type="button" class="btn btn-primary">Primary</button>
</div>
{% endblock %}
