{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/event.css') }}" />
{% endblock %}

{% block body %}
<main class="container-fluid">
  <section class="titre container-fluid d-none d-md-flex flex-column justify-content-center align-items-center text-center">
      <div class="row">
        <div class="col">
          <h1 class="text-uppercase">évènements</h1>
          <h2>Votre prochaine soirée sur Bordeaux est au Carrelet! </h2>
        </div>
      </div>
    </section>

  <section class="event-mois container-fluid sticky-top d-md-block d-none">
      <div class="row">
        <div class="col">
          <ul class="d-flex">
            <li class="align-self-center flex-fill text-center"><a href="#">Janvier</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Février</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Mars</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Avril</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Mai</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Juin</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Juillet</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Aout</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Septembre</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Octobre</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Novembre</a></li>
            <li class="align-self-center flex-fill text-center"><a href="#">Décembre</a></li>
          </ul>
        </div>
      </div>
    </section>

  <section class="event-mois-mobile d-flex d-md-none justify-content-center align-items-end p-5">
    <select class="event-select-mobile w-75 text-center" name="">
      <option value="">Janvier</option>
      <option value="">Février</option>
      <option value="">Mars</option>
      <option value="">Avril</option>
      <option value="">Mai</option>
      <option value="">Juin</option>
      <option value="">Juillet</option>
      <option value="">Août</option>
      <option value="">Septembre</option>
      <option value="">Octobre</option>
      <option value="">Novembre</option>
      <option value="">Décembre</option>
    </select>
  </section>

  <section class="event-liste container-fluid">
      <div class="row">
        <div class="col d-flex flex-wrap justify-content-center justify-content-md-between">

          <article class="event-item container border border-white" data-filter="Janvier">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>

          <article class="event-item container border border-white" data-filter="Janvier">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Février">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Février">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Mars">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Mars">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Avril">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Avril">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Mai">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>
          <article class="event-item container border border-white" data-filter="Mai">
            <div class="row">
              <div class="event-contenu col-xs-12 col-md-7 h-100 d-flex flex-column ">
                <div class="event-titre-h2 d-flex justify-content-center align-content-center">
                  <h2 class="text-center">St Valentin</h2>
                </div>
                <div class="event-titre-h3 d-flex justify-content-center align-content-center">
                  <h3 class="text-center">Date de l'évènement</h2>
                </div>
                <div class="event-texte d-flex flex-column justify-content-center align-content-center text-center">
                  <p>Ce superbe évènement vous permettra de chibrer vos amis - venez partager le COVID!!</p>
                  <p>Un COVID partagé, un cocktail offert!!</p>
                  <p>Guest star de la soirée : BGdream, il nous ramène la coupe à la maison :)</p>
                </div>
              </div>

              <div class="col-md-5 event-image d-none d-md-block">
                <div class="event-filter h-100 d-flex justify-content-center align-items-end">
                  <button class="event-cta border border-white d-flex justify-content-center align-items-center text-center text-uppercase">
                    <!-- <p class="text-center text-uppercase">réserver</p> -->
                    réserver
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
                <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
                réserver
                </button>
              </div>
            </div>
          </article>

        </div>
      </div>

    </section>

  <section class="container-fluid bande-noire">
      <!-- Utile pour éviter que le footer ne recouvre les derniers events -->
  </section>
</main>


{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/event.js') }}"></script>
{% endblock %}
