{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Contenu page accueil</h1>
            </div>
        </div>
    </div>
{% endblock %}
