html{
  font-size: 10px;
}
body{
  background: black;
}
.titre{
  height:420px;
}
.titre>h1{
  font-family: var(--Thrasher);
  color: var(--Blanc);
  font-size: 110px;
  letter-spacing: 40px;
  padding-left: 40px;
}
.titre>h2{
  font-family: var(--Mountecarlo);
  color: var(--Blanc);
  font-size: 45px;
}

.mois-annee{
  background: black;
  opacity: 0.9;
}
.mois-annee ul{
  height: 110px;
}

.mois-annee a{
  font-family: var(--CL) !important;
  color: var(--Jaune);
  font-size: 30px;
}

.event-item{
  height: 40rem;
  width: 45%;
  margin-bottom : 25px ;
}
.event-contenu{
  width : 54rem
}
