
/*
 * Layout général
 */

main{
  width: 95%;
}
/*
 * Fin layout général
 */

/*
 * Titres
 */
.titre{
  height:420px;
}
.titre h1{
  font-family:var(--Thrasher);
  color: var(--Blanc);
  font-size: 3rem;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
}
.titre h2{
  font-family:var(--Mountecarlo);
  color: var(--Blanc);
  /* font-size: 45px; */
  font-size:1.2rem;
}

/*
 * Fin titres
 */


/*
 * Navbar choix mois
 */
.event-mois{
  background: black;
  opacity: 0.9;
  position: sticky;
  top: 80px;
}
.event-mois ul{
  height: 110px;
}

.event-mois a{
  font-family: var(--CL);
  color: var(--Blanc);
  font-size: 1rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.2em;

  transition: border-bottom 0.3s ease-in;
}
.event-mois a:hover{
  border-bottom :2px solid var(--Blanc) ;
}

.event-mois-mobile{
  height: 180px;
}
.event-select-mobile{
  height: 40px;
  font-family: var(--CL);
  font-size: 1.3rem;
  color:var(--Noir);
}

/*
 * Fin navbar choix mois
 */

/*
 * liste évènements
 */
.event-item{
  height: auto;
  min-width: 350px;
  max-width: 45%;
  margin-bottom : 25px;
  padding-left: 0px;
  padding-right: 0px;
}
.event-contenu{
  padding:10px;
}
.event-contenu h2{
  font-family: var(--CL);
  color: var(--Blanc);
  font-size: 1.4rem;
  height: 20%;
}
.event-contenu h3{
  font-family: var(--CL_bold);
  color: var(--Orange);
  font-size: 0.8rem;
  height: 10%;
}
.event-texte {
  font-family: var(--CL_bold);
  color: var(--Blanc);
  font-size:0.6rem;
  min-height: 8em;
}



.event-image{
  background:  url('../img/event.jpg');
  background-size: cover;
  background-position: center;
  font-family: var(--CL_bold);
  padding:0;
}
.event-filter{
  background: rgba(0, 0, 0, 0.5);
}
.event-cta{
  width: 90%;
  height: 2em;
  background: rgba(0, 0, 0, 0.7);
  color : var(--Orange);
  font-size:1rem;
  margin-bottom: 10px;
  transition: background 0.3s ease-in, font-size 0.1s ease-in;
}
.event-cta:hover{
  background: var(--Orange);
  font-size: 1rem;
  color : var(--Blanc);
}
.event-cta-mobile{
  background: var(--Orange);
}
.event-bouton-mobile{
  font-family: var(--CL_bold);
  color : var(--Noir);
  font-size:1rem;
  letter-spacing: 1rem;
  padding-left: 1rem;
  transition: color 0.3s ease-in;
}
.event-bouton-mobile:hover{
  color : var(--Blanc);
}

/*
 * Fin liste évènements
 */

 /*
  * Responsive
  */

  @media (max-width: 768px) {
    .event-item{
      max-width: 100%;
    }
}
