

/*
 * Layout
 */
#container-index{
    /* width: 100vw; */
    height: 100vh;
    background-image: url(images/mobileIndex.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.filtre-noir{
    /* width: 100vw; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.premiere-page, .seconde-page{
  height: 100vh;
}

/*
 * Layout fin
 */



/*
 * Première page
 */

.index-logo{
  height: 60vh;
  padding-top: 100px;
}
.index-logo svg{
  height: 100%;
}
.index-texte-cta{
  height: 30vh;
  padding-bottom: 100px;
}
.boutonAccueil{
  font-family: var(--CL_bold);
  font-size: 1.5rem;
  text-transform: uppercase;
  border: var(--Blanc) 3px solid;
  color:var(--Orange);
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.7);
  max-width: 100%;
}
.boutonAccueil:hover{
  color: var(--Blanc);
}
.index-texte{
  color: var(--Blanc);
  text-align: center;
  font-size: 0.8rem;
}




.event-cta-mobile{
  height: 10vh;
  background: var(--Orange);
}
.event-bouton-mobile{
  font-family: var(--CL_bold);
  color : var(--Noir);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  padding-right: 0.5rem;
  transition: color 0.3s ease-in;
}
.event-bouton-mobile:hover{
  color : var(--Blanc);
}
/*
 * Première page fin
 */

 /*
  * Seconde page
  */

 /*
  * Titres
  */
.index-titre{
  height: 30vh;
  padding-top: 100px;
}
.index-titre h1{
  font-family:var(--Thrasher);
  color: var(--Blanc);
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-left: 1rem;
}
.index-titre h2{
  font-family:var(--Mountecarlo);
  color: var(--Blanc);
  /* font-size: 45px; */
  font-size:1.2rem;
}
/*
 * Fin titres
 */

 /*
  * Video
  */
.index-video{
  height: 50vh;
}
.video-cadre{
  width: 60%;
  height: 90%;
  border: 2px solid #8252ee;
  box-shadow: 0px 0px 5px 3px #8252ee;
}
.index-video-cta{
  height: 20vh;
  padding-bottom: 120px;
}

  /*
   * Fin video
   */



@media (min-width: 768px) {
  .navbar{
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-brand{
    visibility: hidden;
  }
  #reserver-menu-btn{
    visibility: hidden;
  }
  footer{
    background: rgba(0, 0, 0, 0.5);
  }
  #telephone-menu {
      color: var(--Orange);
      font-size: 0.7rem;
  }

  #container-index{
      background-image: url(images/desktopIndex.jpg);
  }

  .index-logo{
    height: 55vh;
    padding-top: 100px;
  }
  .index-texte-cta{
    height: 45vh;
    padding-bottom: 100px;
  }

}
