/*
 * IMAGES BACKGROUND
 */
body{
    width: 100vw;
    height: 100vh;
    background-image: url(images/mobileIndex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#filtreBackgroundIndex{
    position: fixed;
    top:0;
    left:0;
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#divLogo,#divInfo,#blockAdresse{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#divSecondeLigne{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#divLogo > svg{
    max-width: 200px;
    min-width: 100px;
}

#divInfo,#blockAdresse{
    flex-direction: column;
    font-family: var(--CL_bold);

}
#blockAdresse{
    margin-bottom: 50px;
}

#blockAdresse p,#telInfo,.horairesDayInfo,.happyHourInfo{
    margin:0;
    font-size: 1.8rem;
}
.boutonAccueil{
    display: none;
}

.infos,.boutonAccueil{
    color: var(--Blanc);
}
#ligneFlecheAccueil{
    display: none;
}
#blockVideoAccueil{
    display: none;
}

@media (min-width: 768px) {
    body{
        overflow-x: hidden;
    }
    #containerIndex{
        display:flex;
        height: 95%;
    }
    .list-menu{
        min-height: 80px;
    }
    #reserver-menu-btn,.navbar-brand{
        display: none;
    }
    body{
        background-image: url(images/desktopIndex.jpg);
    }

    #divLogo > svg{
        max-width: 400px;
    }

    #blockAdresse{
    margin-bottom: 0;
    }

    .boutonAccueil{
        font-family: var(--CL_bold);
        font-size: 2rem;
        max-width: 300px;
        text-align: center;
        display: block;
        border: var(--Orange) 3px solid;
        text-align: center;
        color:var(--Orange);
        padding: 25px;
        background-color: var(--Noir);
    }

    .boutonAccueil:hover{
        color: var(--Blanc);
    }

    #ligneCallToScrollAccueil{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .callToScroll {
        height: 34px;
        width: 20px;
        border: 1px var(--Blanc) solid;
        border-radius: 11px;
    }

    .callToScroll:after {
        content: '';
        display: block;
        height: 6px;
        width: 6px;
        background-color: var(--Orange);
        border-radius: 100%;
        margin: 2px auto;
        opacity: 0;
        animation: animateScroll 1.25s infinite;
        will-change: transform;
    }

    @keyframes animateScroll {
        10% {
            opacity: 1;
        }
        100% {
            transform: translateY(24px);
            opacity: 0;
        }
    }

    #blockVideoAccueil{
        position: absolute;
        padding: 3%;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: 94vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--Noir);
    }
    #blockVideoAccueil h1,
    #blockVideoAccueil h2{
        margin-top: 15px;
        color: var(--Blanc);
    }
    #titreH1Accueil{
        font-family: var(--Thrasher);
    }

    #titreH2Accueil{
        font-family: var(--Mountecarlo);
    }
    .blockBoutton2{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .blockBoutton2 a {
        margin: 100px;
        padding: 25px;
    }
    #videoAccueil{
        width: 40%;
        height: 60%;
        border: 2px solid #5e86fc;
        box-shadow: 0px 0px 5px 3px #5e86fc;
    }
}