

/*
 * Layout
 */
#container-index{
    /* width: 100vw; */
    height: 100vh;
    background-image: url(images/mobileIndex.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.filtre-noir{
    /* width: 100vw; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.premiere-page, .seconde-page{
  height: 100vh;
}

/*
 * Layout fin
 */



/*
 * Première page
 */

.index-logo{
  height: 60vh;
  padding-top: 100px;
}
.index-logo svg{
  height: 100%;
}
.index-texte-cta{
  height: 30vh;
  padding-bottom: 100px;
}
.boutonAccueil{
  font-family: var(--CL_bold);
  font-size: 1.5rem;
  text-transform: uppercase;
  border: var(--Blanc) 3px solid;
  color:var(--Orange);
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.7);
  max-width: 100%;
}
.boutonAccueil:hover{
  color: var(--Blanc);
}
.index-texte{
  color: var(--Blanc);
  text-align: center;
  font-size: 0.8rem;
}
.event-cta-mobile{
  height: 10vh;
  background: var(--Orange);
}
.event-bouton-mobile{
  font-family: var(--CL_bold);
  color : var(--Noir);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  padding-right: 0.5rem;
  transition: color 0.3s ease-in;
}
.event-bouton-mobile:hover{
  color : var(--Blanc);
}

/*
 * Première page fin
 */

 /*
  * Seconde page
  */

 /*
  * Titres
  */
.index-titre{
  height: 30vh;
  padding-top: 100px;
}
.index-titre h1{
  font-family:var(--Thrasher);
  color: var(--Blanc);
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-left: 1rem;
}
.index-titre h2{
  font-family:var(--Mountecarlo);
  color: var(--Blanc);
  /* font-size: 45px; */
  font-size:1.2rem;
}
/*
 * Fin titres
 */

 /*
  * Video
  */
.index-video{
  height: 50vh;
}
.video-cadre{
  width: 60%;
  height: 90%;
  border: 2px solid #8252ee;
  box-shadow: 0px 0px 5px 3px #8252ee;
}
.index-video-cta{
  height: 20vh;
  padding-bottom: 120px;
}

  /*
   * Fin video
   */



@media (min-width: 768px) {
  .navbar{
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-brand{
    visibility: hidden;
  }
  #reserver-menu-btn{
    visibility: hidden;
  }
  footer{
    background: rgba(0, 0, 0, 0.5);
  }
  #telephone-menu {
      color: var(--Orange);
      font-size: 0.7rem;
  }

  #container-index{
      background-image: url(images/desktopIndex.jpg);
  }

  .index-logo{
    height: 55vh;
    padding-top: 100px;
  }
  .index-texte-cta{
    height: 45vh;
    padding-bottom: 100px;
  }

}


  /*
   * Animation logo
   */
/* Il est nécessaire de déterminer le centre du path que l'on anime et de l'indiquer dans transform-origin. Pour cela on utilise un script js, ou l'on applique la méthode js getBBox() au path choisi. On obtient ainsi (x,y,width,height) du path. On obtient (x,y) du centre du path en ajoutant respectivement à x et y (retournés par getBBox) la moitié de la valeur du width et du height*/
#Group_1{
    animation-name: rotationLogo;
    animation-duration: 30s;
    animation-timing-function: linear;
    /* Things added */
    animation-iteration-count: infinite;
    transform: translate(320.999px, 677.459px) rotate(0deg);
    transform-origin: 135.7871px 138.9375px;
    /* display: inline-block; */
    /* <--- */
}
 @keyframes rotationLogo {
    100% {
      transform: translate(320.999px, 677.459px) rotate(360deg);
    }
}
#Group_2{
    animation-name: ckw;
    animation-duration: 30s;
    animation-timing-function: linear;
    /* Things added */
    animation-iteration-count: infinite;
    transform: translate(322.017px, 676px) rotate(0deg);
    transform-origin: 136.943px 140px;
    /* display: inline-block; */
    /* <--- */
}
 @keyframes ckw {
    100% {
      transform: translate(322.017px, 676px) rotate(-360deg);
    }
}


  /*
   * Fin animation logo
   */
