/*
 * RESET
 */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}


body{
    min-width: 320px;
}

.list-menu > li, .list-footer > li{
    list-style: none;
}

/*
 *FONTS
 */

@font-face {
    font-family: "CL_classic";
    src: url("/fonts/ChampageLimousines.ttf");
}@font-face {
    font-family: "CL_bold";
    src: url("/fonts/ChampageLimousinesBold.ttf");
}
@font-face {
    font-family: "CL_italic";
    src: url("/fonts/ChampageLimousinesItalic.ttf");
}
@font-face {
    font-family: "CL_bold_italic";
    src: url("/fonts/ChampageLimousinesBoldItalic.ttf");
}
@font-face {
    font-family: "Mountecarlo";
    src: url("/fonts/Mountecarlo.ttf");
}
@font-face {
    font-family: "Thrasher";
    src: url("/fonts/THRASHER.ttf");
}


/*
 * HEADER
 */

nav > *{
    width: 100vw;
    text-align: center;
}

 /*Media queries*/
@media (min-width: 576px) {
    .list-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*
 * FOOTER
 */

footer > *{
    width: 100vw;
    text-align: center;
}

@media (min-width: 576px) {
    .list-footer, .horraires{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}