/*
 * Définition des variables
 */

:root{
    --Thrasher: "Thrasher";
    --Mountecarlo: "Mountecarlo";
    --CL: "CL_classic";
    --CL_bold: "CL_bold";
    --CL_italic: "CL_italic";
    --CL_bold_italic: "CL_bold_italic";
    --Jaune: #FDD38F;
    --Orange: #E9531D;
    --Noir: #000;
    --Blanc: #FFF;
}

/*
 *FONTS
 */

@font-face {
 font-family: "CL_classic";
 src: url("/assets/css/fonts/ChampagneLimousines.ttf") format("truetype");
}

@font-face {
 font-family: "CL_bold";
 src: url('/assets/css/fonts/ChampagneLimousinesBold.ttf') format("truetype");
}

@font-face {
   font-family: "CLitalic";
   src: url('/assets/css/fonts/ChampagneLimousinesItalic.ttf') format("truetype");
}

@font-face {
  font-family: "CL_bold_italic";
  src: url('/assets/css/fonts/ChampagneLimousinesBoldItalic.ttf') format("truetype");
}

@font-face {
 font-family: "Mountecarlo";
 src: url("/assets/css/fonts/Mountecarlo.ttf") format("truetype");
}

@font-face {
 font-family: "Thrasher";
 src: url("/assets/css/fonts/THRASHER.ttf") format("truetype");
}

/*
 * RESET
 */

*,
.row,
.container-fluid,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

body{
    min-width: 320px;
    background-color:var(--Noir);
}

li, .list-menu > li, .list-footer > li{
    list-style-type: none;
}


/*
 * HEADER
 */
.navbar{
    padding: 0;
    max-height: 100px;
    background-color:var(--Noir);
}
.navbar button,
.navbar ul{
    height: 100%;
}

.logo{
    width: 100px;
    height: 100%;
}

.navbar-toggler-icon{
    color: var(--Orange);
}
.nav-item{
    display: flex;
    align-items: center;
    width: 100%;
}
.lien-menu, #telephone-menu{
    display: block;
    width: 100%;
    font-family: var(--Mountecarlo);
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--Orange);
}
#telephone-menu{
    color: var(--Blanc);
}
.lien-menu:hover{
    color:var(--Blanc);
}


#reserver-menu-btn{
    display: flex;
    align-items: center;
    background-color: var(--Orange);
    border:3px solid var(--Blanc);
}
#reserver-menu{
    font-family: var(--CL);
    display: block;
    width: 100%;
    color:var(--Blanc);
}
#reserver-menu:hover{
    color:var(--Noir);
}

 /*Media queries*/
@media (max-width: 768px) {
    #navbarSupportedContent{
        z-index: 2;
        flex-direction: column;
        background-color: var(--Noir);
        height: 90vh;
    }
    .lien-menu{
        font-family: var(--Thrasher);
        font-weight: normal;
        font-size: 2rem;
        color:var(--Blanc);
    }
    #telephone-menu{
        font-size: 2rem;
        color: var(--Blanc);
    }
}



/*
 * FOOTER
 */


footer *{
    color:var(--Blanc);
    text-align: center;
}

.facebook,.instagram{
    width: 80px;
    padding: 10px;
}

@media (min-width: 768px) {
    footer{
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        margin: 0;
        z-index: 10;
        background-color:var(--Noir);

    }

    .horaires,.social-network,.list-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .social-network{
        order:1;
    }
    .list-footer{
        order:2;
    }
    .horaires{
        order:3;
    }
    .horaires > p{
        margin: 0;
    }    
}
