<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Demande de rappel</h1>
    <p>Prénom: {{ rappel.prenom }}</p>
    <p>Nom: {{ rappel.nom }}</p>
    <p>Email: {{ rappel.telephone }}</p>
    <p>Message: {{ rappel.message|raw }}</p>
  </body>
</html>
